<!--Division for  heading-->
<div class="container-fluid">
		<nav class="navbar navbar-expand-lg navbar-light  bg-info">
			<div class="container-fluid">
				<a class="navbar-brand" href="#">TO do list</a>
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item">
						<a class="nav-link active" routerLink="/home" routerLinkActive="active">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link active" routerLink="/contactus" routerLinkActive="active">Contact</a>
					</li>
				</ul>
			</div>
		  </nav>
		  <router-outlet></router-outlet>
	<!--Division for taking input from user -->
	<div class="row mt-1" style="height:80px;">
		<div class="col-3 d-none col-md-3 d-md-block"></div>
		<div class="col-12 col-md-6 bg-success d-flex
					justify-content-center align-items-center
					text-light h3">

			<input type="text"
					value="" class="col-7 form-control"
						style="width:300px;" [(ngModel)]="newTask"/>

			<div class="col-1"></div>
			<button 
				class="btn btn-light text-success" (click)="addToList()">
				ADD TASK
			</button>
		</div>

		<div class="col-3 d-none col-md-3 d-md-block"></div>
	</div>

	<!--Tasks added repeated divisions-->
	<div *ngFor="let x of allItems; let index = index;"
			class="row mt-1" style="height:100px;">

		<div class="col-3 d-none col-md-3 d-md-block"></div>

		<div class="col-12 col-md-6 bg-success d-flex
					justify-content-center align-items-center
					text-light h3">

			<div class="col-9 text-light h3">{{x}}</div>

			<input  type="button" (click)="deleteTask(index)"
				value="Delete" class="col-2 btn btn-danger">
		</div>
		
		<div class="col-3 d-none col-md-3 d-md-block"></div>
	</div>
</div>
